// Enter any custom Sass in this file.
header {
    background: none;

    .container {
        min-height: 113px;

        .navbar-default {
            border: none;
        }
    }
}

header .barra_azul_cab {
    background: #013161 no-repeat scroll left bottom !important;
    padding-left: 1%;
}

.logoMaster a {
    display: inline-block;
    vertical-align: middle;
}

.logoMasterDescripcion {
    border-left: 1px solid #fdbd03;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding-left: 6px;
    margin-left: 4px;
    line-height: 13px;
    display: inline-block;
    vertical-align: middle;
}

#lateralD_ham {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-right: 1%;
}

body {
    background: white;
    padding-top: 0;
}

.marcopie {
    padding: 15px 0 15px 0;
    background-color: #013161;
}

.piederecho {
    margin-top: 10px;
    width: 90%;
    border-top: 0px solid white;
    text-align: right;
    /* background: url(/cwImages/2015/aenor.png) top left no-repeat; */
}

.logoaenorpie {
    display: inline-block;
    float: left;
}

.piederechopn {
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

.piederechop {
    color: white;
    font-size: 0.9em;
    width: 80%;
    margin-left: auto;
}

.piederechop50 {
    width: 50%;
    float: right;
}

.enlaceblanco {
    color: white !important;
    text-decoration: none;
}

ul.iconillo {
    list-style-image: url(https://www.eustat.eus/cwImages/2015/listapie.gif);
}

.barritaizquierda {
    border-left: 1px solid white;
}

// Etiquetas

.tag-municipio{ background-color: #f5c92a!important; }
.tag-territorio{ background-color: #f5c92a!important; }
.tag-europeo{ background-color: #2B2B2B!important; }
.tag-propio{ background-color: #2B2B2B!important; }
.tag-sexo{ background-color: #f5c92a!important; }

// Estados de progreso y reporting

.alcanzado { background-color: #45ba80; }
.progreso { background-color: #fec329; }
.retroceso { background-color: #db405a; }
.noevaluado { background-color: #ccd5dd; }
.notstarted { background-color: #ccd5dd; }

// Navegación

.btn-label {
  color: white;
}
.G1-background {
  background-color: #E5243B;
  border-color: transparent;
  margin-bottom: 5px;}
.G1-background:hover {
  background-color: #B71D2F;
  border-color: transparent;
  margin-bottom: 5px;}
.G2-background {
  background-color: #E5B735;
  border-color: transparent;
  margin-bottom: 5px;}
.G2-background:hover {
  background-color: #CEA530;
  border-color: transparent;
  margin-bottom: 5px;}
.G3-background {
  background-color: #4C9F38;
  border-color: transparent;
  margin-bottom: 5px;}
.G3-background:hover {
  background-color: #3D7F2D;
  border-color: transparent;
  margin-bottom: 5px;}
.G4-background {
  background-color: #C5192D;
  border-color: transparent;
  margin-bottom: 5px;}
.G4-background:hover {
  background-color: #9E1424;
  border-color: transparent;
  margin-bottom: 5px;}
.G5-background {
  background-color: #FF3A21;
  border-color: transparent;
  margin-bottom: 5px;}
.G5-background:hover {
  background-color: #CC2E1A;
  border-color: transparent;
  margin-bottom: 5px;}
.G6-background {
  background-color: #26BDE2;
  border-color: transparent;
  margin-bottom: 5px;}
.G6-background:hover {
  background-color: #1E97B5;
  border-color: transparent;
  margin-bottom: 5px;}
.G7-background {
  background-color: #FCC30B;
  border-color: transparent;
  margin-bottom: 5px;}
.G7-background:hover {
  background-color: #CA9C09;
  border-color: transparent;
  margin-bottom: 5px;}
.G8-background {
  background-color: #A21942;
  border-color: transparent;
  margin-bottom: 5px;}
.G8-background:hover {
  background-color: #821435;
  border-color: transparent;
  margin-bottom: 5px;}
.G9-background {
  background-color: #FD6925;
  border-color: transparent;
  margin-bottom: 5px;}
.G9-background:hover {
  background-color: #CA541E;
  border-color: transparent;
  margin-bottom: 5px;}
.G10-background {
  background-color: #DD1367;
  border-color: transparent;
  margin-bottom: 5px;}
.G10-background:hover {
  background-color: #B10F52;
  border-color: transparent;
  margin-bottom: 5px;}
.G11-background {
  background-color: #FD9D00;
  border-color: transparent;
  margin-bottom: 5px;}
.G11-background:hover {
  background-color: #CA7E00;
  border-color: transparent;
  margin-bottom: 5px;}
.G12-background {
  background-color: #C9992D;
  border-color: transparent;
  margin-bottom: 5px;}
.G12-background:hover {
  background-color: #A17A24;
  border-color: transparent;
  margin-bottom: 5px;}
.G13-background {
  background-color: #3F7E44;
  border-color: transparent;
  margin-bottom: 5px;}
.G13-background:hover {
  background-color: #326536;
  border-color: transparent;
  margin-bottom: 5px;}
.G14-background {
  background-color: #0A97D9;
  border-color: transparent;
  margin-bottom: 5px;}
.G14-background:hover {
  background-color: #0879AE;
  border-color: transparent;
  margin-bottom: 5px;}
.G15-background {
  background-color: #56C02B;
  border-color: transparent;
  margin-bottom: 5px;}
.G15-background:hover {
  background-color: #459A22;
  border-color: transparent;
  margin-bottom: 5px;}
.G16-background {
  background-color: #00689D;
  border-color: transparent;
  margin-bottom: 5px;}
.G16-background:hover {
  background-color: #00537E;
  border-color: transparent;
  margin-bottom: 5px;}
.G17-background {
  background-color: #19486A;
  border-color: transparent;
  margin-bottom: 5px;}
.G17-background:hover {
  background-color: #143A55;
  border-color: transparent;
  margin-bottom: 5px;}

// Barra con iconos de los objetivos para las páginas de objetivos
.ods-navigation {
    background-color: transparent; /* Fondo transparente */
    padding: 10px 0; /* Espacio vertical */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los íconos */
}

.ods-item {
    text-align: center;
    opacity: 0.5;
    flex: 0 0 auto; /* Ajuste para que los íconos ocupen solo el espacio necesario */
    transition: opacity 0.3s ease, border 0.3s ease; /* Transiciones suaves */
    border: 2px solid transparent; /* Borde invisible por defecto */
}

.ods-item img {
    width: 60px; /* Tamaño del ícono */
    height: auto;
    filter: grayscale(100%); /* Aplica un filtro gris */
    transition: filter 0.3s ease; /* Transición suave para el color */
}

.ods-item:hover {
    opacity: 1;
}

.ods-item:hover img {
    filter: grayscale(0); /* Elimina el filtro gris al hacer hover */
}

.ods-selected {
    opacity: 1;
}

.ods-selected img {
    filter: grayscale(0); /* Mantiene el color original del ícono seleccionado */
}

@media only screen and (min-width: 1200px) {
    .ods-navigation {
        justify-content: space-between; /* Asegura que todos los íconos se distribuyan en una línea en pantallas grandes */
    }
    .ods-item {
        flex: 1; /* Asegura que los íconos ocupen todo el ancho disponible */
        max-width: 5%; /* Aproximadamente 20 íconos por línea en pantallas grandes */
    }
}

@media only screen and (max-width: 768px) {
    .ods-item {
        flex: 0 0 11%; /* Aproximadamente 9 íconos por línea en pantallas pequeñas */
    }
}

// Reducir el espacio debajo del disclaimer

.disclaimer-alert {
        color: $disclaimer-text-color;
        margin-bottom: 0; /* Reducido el margen inferior */
        padding: 12px 10px 0 0; /* Ajustado el padding inferior */
        border-bottom: 1px solid #bbbbbb;
        @media only screen and (max-width: 680px) {
            font-size: 0.75em;
        }
    }
