// Here you can override any of the Sass variables from Open SDG. This is the
// easiest way to change things like colors and dimensions. Below are a few
// examples of variables. For a full list, see this folder:
// https://github.com/open-sdg/open-sdg/tree/master/_sass/variables

//$goal-colors: #E52B3D #DDA63A #4C9F38 #C42130 #FF3E24 #28BCE1 #FCC30B #A21942 #FD6925 #DD1367 #FD9C27 #BF8B2E #417D46 #0A96D8 #57BE2F #00689C #1F4A6A;
//$goal-banner-backgroundColors: white white white white white white white white white white white white white white white white white;
//$text-color: #333;
//$color-dark: black;
//$color-light: white;
//$backgroundColor: white;
//$link-color: #337ab7;
//$footer-text-color: #000000;
$indicatorContent-horizontalRule-color: #dce0e3;

$status-backgroundColor-alcanzado: #5cb85c;
$status-backgroundColor-en_progreso: #f5a327;
$status-backgroundColor-retroceso: #E27874;
$status-backgroundColor-no_evaluado: #B7B7B7;

$status-color-alcanzado: black;
$status-color-en_progreso: black;
$status-color-retroceso: black;
$status-color-no_evaluado: black;

$status-border-alcanzado: none;
$status-border-en_progreso: none;
$status-border-retroceso: none;
$status-border-no_evaluado: none;

$tag-backgroundColor: #6e0875;
