<div class="zip-download-container">
    <a href="https://raw.githubusercontent.com/EUSTAT-DES/site/develop/assets/download/all_data.zip"
       role="button"
       class="btn btn-primary btn-download" aria-describedby="zip-download-info">
        {{ page.t.frontpage.download_all }}
    </a>
    <div id="zip-download-info">
        {{ page.t.frontpage.file_size }}: {{ site.data.zip.size_human }}
        {% if site.data.zip.timestamp %}
            <br>
            {{ page.t.metadata_fields.national_data_update_url }} - {{ site.data.zip.timestamp | t_date: 'standard' }}
        {% endif %}
    </div>
</div>
