{% if page.indicator['id'] %}
    {% assign parts = page.indicator['id'] | split: '-' %}
    {% if parts[0] contains 'O' %}
        {% assign goal_number = parts[1] %}
        {% assign main_indicator = parts[1] | append: '-' | append: parts[2] | append: '-' | append: parts[3] %}
        <!-- Botón para el indicador principal (solo para indicadores con prefijo 'O') -->
        <div class="previous-next-links d-flex justify-content-start">
            <div class="text-left">
                <a class="btn btn-primary G{{ goal_number }}-background" href="/{{ main_indicator }}/" aria-labelledby="main-link">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span id="main-link" class="d-none d-md-inline">{{ include.main_label | t }}</span>
                </a>
            </div>
        </div>
    {% else %}
        <!-- Botones Previous y Next (para indicadores normales) -->
        {% if page.previous and page.next %}
        <div class="previous-next-links d-flex justify-content-between">
            <div class="text-left">
                <a class="btn btn-primary G{{ page.indicator['goal_number'] }}-background" href="{{ page.previous.url }}" aria-labelledby="previous-link">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span id="previous-link" class="d-none d-md-inline">{{ include.previous_label | t }}</span>
                </a>
            </div>
            <div class="text-right">
                <a class="btn btn-primary G{{ page.indicator['goal_number'] }}-background" href="{{ page.next.url }}" aria-labelledby="next-link">
                    <span id="next-link" class="d-none d-md-inline">{{ include.next_label | t }}</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endif %}
