<div class="progreso-intro-header">
  <h1>{{ page.t.status.reporting_status }}</h1>
  <a href="{{ site.remote_data_prefix }}progreso.csv" role="button" class="btn btn-primary btn-download progreso-download-btn-header">
    {{ page.t.status.download_progress_csv }}
  </a>
</div>
<div class="reporting-status-description">
  {{ page.t.status.description }}
  <a href="{{ site.remote_data_prefix }}progreso.csv" role="button" class="btn btn-primary btn-download progreso-download-btn-mobile">
    {{ page.t.status.download_progress_csv }}
  </a>
</div>
